* {
	box-sizing:border-box;
	-moz-box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: Microsoft YaHei;
    font-size:12px;
    list-style:none;
    font-family: arial,"Hiragino Sans GB","Microsoft Yahei","微软雅黑",Tahoma,Helvetica,STHeiti;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}

body {
    background-color: #FFF;
    min-width:1200px;
}

.fixed:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.fixed {
    display: block;
    min-height: 1%;
}

_html .fixed {
    height: 1%;
}
input,textarea{ outline:none; } 
ul {
    list-style: none;
}

    ul li {
        list-style: none;
    }

.m-box {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
        opacity:0.8;
    }
.clearinput input { border:0px; 
}

/******       header      top-navbar                     ******/
.top-navbar { width:100%; background-color:#F7F7F7;
}
.top-nav { height:30px;
}
.float-L { float:left;
}
.float-R { float:right;
}
.w1 li div {
    width: 14px;
    height: 14px;
    background-image: url('/wwh-wallet/images/ico-home.png');
    float: left;
    margin-right: 10px;
    margin-top: 7px;
}
.logo-home {
    font-size:12px; color:e94949; line-height:30px;
}
.w2 li { float:left;
}
.w2 li a { color:#999; line-height:30px;margin:0 10px; font-size:12px;
}
.w2 li a.last {margin-right:0px;
}
.w2 li a.loginout { margin-left:0px;
}
.w2 li i{ width:1px; height:14px; background-color:#999; float:right; margin-top:8px;
}
.logo-wollet { float:left;
}
.navbar-w { 
}
.navbar-w li{ float:left; margin-right:50px;
}
.navbar-w li a{ color:#333; line-height:70px;
}
    .navbar-w li.selected a {
        color:#e94949;
    }
.nav-w{ height:70px;
}
.nav-w a.logo-wollet { width:300px; height:70px; line-height:70px; font-size:30px; color:#f23030; margin-left:70px; 
background:url(/wwh-wallet/images/mywallt.png) 10px 17px no-repeat;
}

.search-box { height:70px; float:left;
}
.search-w { float:left; width:160px; height:36px; border:1px solid #e94949; border-radius:3px;
}
.search-c { width:120px; height:34px; float:left; padding-top:2px; padding-left:5px;
}
.search-w input {
    width:110px; height:30px; font-size:12px; display:block;
}
.search-btn { width:38px; height:34px; background-color:#e94949; color:#FFF; line-height:34px; font-size:12px; float:left; text-align:center; cursor:pointer;
}
.search-t-m { margin-top:17px;
}
/******       shopping cart                  ******/
.shopcart-box { float:right;
}
.shop-c { border:1px solid #e7e7e7; border-radius:3px; width:120px; height:36px; background:url(/wwh-wallet/images/arrow-shopcart.png) no-repeat 5px center; margin-top:17px;
}
.shop-c a{ width:120px; height:36px; display:block; color:#666; line-height:36px; padding-left:30px; font-size:12px;
}





/*       Number scroller table       */

.scroller-table-div { float:left; height:70px; line-height:70px; padding-top:5px;padding-left:5px;
}
.scroller-table-div .scroller-span { font-size:21px;
}


#back-to-top { position: fixed;  bottom: 100px;  right: 10px; }
#back-to-top a {  font-size:12px;  text-align: center;  text-decoration: none;  color: #595757;  display: block;  width: 50px;  -moz-transition: color 1s;  -webkit-transition: color 1s;  -o-transition: color 1s;}
#back-to-top a span {  display: block;  height: 40px;  width: 40px;  background:url(/wwh-wallet/images/b2t.png);  margin-bottom: 5px;  -moz-transition: background 1s;  -webkit-transition: background 1s;  -o-transition: background 1s;}
#back-to-top a span:hover {  background:url(/wwh-wallet/images/b2th.png); }
#back-to-top a:hover { opacity:1; }
.m-box .m-title { font-size:18px; color:#333;
}

.foot-box { width:100%; height:170px; background-color:#333; 
}
.foot-info {position:relative;
}
.foot-s-info1 { height:30px; position:absolute;top:30px;left:50%;margin-left:-121px;
}
.foot-s-info1 li { float:left;
}
.foot-s-info1 li i{ width:1px; height:12px; background:#CCC; float:right; margin:5px 10px 0px 10px; 
}
.foot-s-info1 li a{ color:#CCC; font-size:12px; 
}
.foot-s-info2 { height:32px; position:absolute;top:65px;left:50%;margin-left:-178px;
}
.foot-s-info2 li { float:left; margin-right:20px;
}
.foot-s-info2 li a{ color:#CCC; font-size:12px; 
}
.line-c3 { width:100%; height:1px; background:#e6e6e6; display:block; position:absolute; top:117px;
}
.foot-box p{ text-align:center; font-size:12px; color:#CCC; position:absolute; top:140px; left:50%;margin-left:-120px;
}

/*pagination*/
 #Pagination a {width:36px; height:36px; line-height:36px; border:1px solid #cccccc; background:#f2f2f2; cursor:pointer;float:left; margin-right:10px; text-align:center; color:#656565; }
 #Pagination span {width:36px; height:36px; line-height:36px; border:1px solid #cccccc; background:#f2f2f2; cursor:pointer;float:left; margin-right:10px; text-align:center; color:#656565; }
 #Pagination span.current {background:#e94949; border:1px solid #e94949; color:#FFF;}
  #Pagination .current.prev { border:1px solid #cccccc;  background:url(/wwh-wallet/images/page-left.png) no-repeat 5px center #fff;color:#656565;  }
   #Pagination .current.next { border:1px solid #cccccc; background:url(/wwh-wallet/images/page-right.png) no-repeat 85px center #fff;color:#656565; }
 #Pagination .prev {  width:100px; height:36px; line-height:36px; border:1px solid #cccccc; cursor:pointer;float:left; background:url(/wwh-wallet/images/page-left.png) no-repeat 5px center #f2f2f2;  text-align:left;  padding-left:30px; margin-right:10px; 
  }
 #Pagination .next {  width:100px; height:36px; line-height:36px; border:1px solid #cccccc; cursor:pointer;float:left;background:url(/wwh-wallet/images/page-right.png) no-repeat 85px center #f2f2f2;  text-align:right; padding-right:30px; margin-right:30px;
  }
#Searchresult { float:left; margin: 5px 0;
}
.page-position .pagination { float:left;
}
#Searchresult .result {  height:36px; line-height:36px; 
}



.mall-btn-select .btn-white { color:#e94949;
}
.mall-btn-select .btn-white:hover, .mall-btn-select .btn-white:focus, .mall-btn-select .btn-white:active, .mall-btn-select .btn-white.active{border-color:#c3c6c9;color:#e94949;background-color:#f7f8f9;}

.mall-btn-select .dropdown-menu > li > a:hover, .mall-btn-select .dropdown-menu > li > a:focus, .mall-btn-select .dropdown-submenu:hover > a, .mall-btn-select .dropdown-submenu:focus > a, .mall-btn-select .dropdown-menu > .active > a, .mall-btn-select .dropdown-menu > .active > a:hover, .mall-btn-select .dropdown-menu > .active > a:focus {
    background-image: none;
    filter: none;
    background-color: #e94949;
    color: #fff;
}
.mall-btn-select .btn-white {
    padding: 8px 12px;
    box-shadow: none;
    border-width: 0px;
    border-color: #FFF;
    color: #e94949;
    background-color: #fff;
}
.bgfafaf { background:#fafafa;
}
.mb60 { margin-bottom:60px;
}

/*     tab 选项卡     */
.s-tab-w { height:50px;  background:url(/wwh-wallet/images/tab-bgs.png) repeat-x bottom left; float:left; clear:both; margin-bottom:10px;
}
.s-tab { height:50px; line-height:50px; float:left; margin-right:40px; color:#333; font-size:17px; cursor:pointer;
}
.s-tab.selected { color:#e94949; font-size:17px;  background:url(/wwh-wallet/images/tab-bg.png) no-repeat bottom center;
}
.s-tab.last {margin-right:0px;
}
.s-sub-w {  clear:both;
}
.s-sub-w .s-sub { display:none;
}
.s-sub-w .s-sub.selected { display:block;
}
.wwh .modal-dialog {
 width:580px;
}
.wwh .modal-header { background:#e94949; color:#FFF; text-align:center;
}
.wwh .modal-header { background:#e94949; color:#FFF; text-align:center;
}
.wwh .modal-content { border:10px solid #7f7f7f;
}

.wwh-table {

}
.btn-yes { width:100px; height:30px; line-height:30px; background:#e94949; border-radius:3px; color:#FFF; text-align:center; font-size:12px; cursor:pointer;
}
.btn-yes:hover { opacity:0.8;
}
.input-wrap { width:150px; height:30px; line-height:30px; border:1px solid #CCC; margin:0; 
}
.input-wrap input { width:148px; height:28px; line-height:30px; border:none; outline:none; display:block; padding-left:5px;padding-right:5px; font-size:12px;
}
.input-wrap input#referenceId,.input-wrap input.referenceName,.referencePhone-after{
	display:inline-block;
}
.input-wrap-long { width:250px; 
}
.input-wrap-long input { width:248px;
}
.after-ele { float:left;
}
.after-input-w { float:left;
}
.vline-top { vertical-align:top; padding-top:10px;
}
.marginb20 { margin-bottom:20px;
}
.logintitle { font-size:45px; text-align:center; padding:106px 0px 50px 0px; color:#e94949;
background:url(/wwh-wallet/images/mywallt.png) 52px 67px no-repeat;
}
.yhmbox { position:relative;
}
.yhmbox i { width:30px; height:30px; position:absolute; right:20px; top:4px; z-index:888; 
}
.yhmbox i.mj01 { background:url(/wwh-wallet/images/index/ico-name.png) no-repeat center center;
}
.yhmbox i.mj02 { background:url(/wwh-wallet/images/index/ico-pwd.png) no-repeat center center; 
}
.spcarwrap { position:relative;
}
.spcar {     position: absolute;
    top: -10px;
    right: 11px;
    width: 30px;
    height: 18px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    border-radius: 9px;
    background: #f62b49;
    text-align: center;
    line-height: 18px;
    color: #FFFFFF;
    font-size:12px;
}
.s-tab333.selected {
    background: url(/wwh-wallet/images/tab-bg.png) no-repeat -56px bottom;
}

.mall-btn-select2 .btn-white { color:#e94949;
}
.mall-btn-select2 .btn-white:hover, .mall-btn-select .btn-white:focus, .mall-btn-select .btn-white:active, .mall-btn-select .btn-white.active{border-color:#c3c6c9;color:#e94949;background-color:#f7f8f9;}

.mall-btn-select2 .dropdown-menu > li > a:hover, .mall-btn-select .dropdown-menu > li > a:focus, .mall-btn-select .dropdown-submenu:hover > a, .mall-btn-select .dropdown-submenu:focus > a, .mall-btn-select .dropdown-menu > .active > a, .mall-btn-select .dropdown-menu > .active > a:hover, .mall-btn-select .dropdown-menu > .active > a:focus {
    background-image: none;
    filter: none;
    background-color: #e94949;
    color: #fff;
}
.mall-btn-select2 .btn-white {
    padding: 2px 12px;
    box-shadow: none;
    border-width: 0px;
    border-color: #FFF;
    color: #e94949;
    background-color: #fff;
    border:1px solid #EEE;
    min-width:100px;
    margin-right:10px;
}
.mall-btn-select2 .btn .caret {
    border-top-color: #CCC;
    margin-left:45px;
}
.mall-btn-select2 .dropdown-menu {
    padding:0px 0px;
   max-height: 300px;
    overflow-y: auto;
}